bin
obj
.vscode
ball_tracking
publish
/.vs/gspro-r10/FileContentIndex
/.vs/gspro-r10/DesignTimeBuild/.dtbcache.v2
/.vs/gspro-r10/v17/.futdcache.v2
/.vs/gspro-r10/v17/.suo
/.vs/ProjectEvaluation/gspro-r10.projects.v7.bin
/.vs/ProjectEvaluation/gspro-r10.metadata.v7.bin
/.vs/gspro-r10/DesignTimeBuild/.dtbcache.v2
/.vs/gspro-r10/v17/.futdcache.v2
/.vs/gspro-r10/v17/.suo
/.vs/ProjectEvaluation/gspro-r10.metadata.v7.bin
/.vs/ProjectEvaluation/gspro-r10.projects.v7.bin
